.arrow-container {
  @apply flex justify-center items-center w-full mt-3;
}

.arrow {
  @apply cursor-pointer text-4xl my-0 mx-5;
}

/* Animation for slide-in effect */
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 480px) {
  .arrow {
    font-size: 24px;
  }
}

@media only screen and (max-width: 375px) {
  .arrow {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .arrow {
    font-size: 16px;
  }
}
