@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
::before {
  @apply m-0 p-0 box-border;
}

body {
  @apply bg-custom-black m-0 p-0 box-border overflow-hidden h-screen w-screen;
}

/* Chatbot container styles */
.chatbot-container {
  animation: slide-in 0.5s ease;
  @apply w-screen h-[100%] flex flex-col justify-evenly items-center p-[10px];
}

.chatbot-header {
  @apply flex flex-row gap-[1.25rem] items-center justify-center text-center mb-[1rem] h-auto;
}

.chatbot-title {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  @apply text-[40px] uppercase tracking-[2px] p-[10px] bg-custom-lightblue rounded-[10px];
}

.chatbot-title span {
  @apply text-custom-gold;
}

.chatbot-content {
  @apply text-center p-[10px] w-full flex flex-wrap justify-center mt-0;
}

.prompt-button {
  transition: all 0.3s ease;
  width: calc(33.33% - 20px); /* 3 boxes per row */
  @apply p-[20px] bg-white text-text-colorblue border-[4px] border-solid border-custom-blue rounded-[20px] cursor-pointer text-[20px] m-[10px] font-bold;
}

.prompt-button:hover {
  @apply bg-custom-blue text-white;
}
.lumos-logo {
  @apply size-[80px] absolute left-[300px] rounded-[20px];
}
@media (max-width: 770px) {
  .chatbot-container {
    padding: 20px;
  }
  .chatbot-header {
    margin-top: 7.5;
    justify-content: space-between;
  }
  .chatbot-title {
    font-size: 25px;
  }
  .lumos-logo {
    position: inherit;
    @apply size-[70px];
  }
  .chat-prompts {
    flex-direction: column;
  }

  .prompt-button {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .chatbot-title {
    font-size: 20px;
  }

  .prompt-button {
    font-size: 12px;
    margin: 5px;
  }
  .lumos-logo {
    position: inherit;
    @apply size-[60px];
  }
  #user-input-container-ch {
    @apply bottom-[5%];
  }
  .ai,
  .user,
  .message-text {
    @apply text-[11px];
  }
}
@media only screen and (max-width: 320px) {
  /* Additional adjustments for smaller phones */
  .chatbot-title {
    font-size: 16px;
  }

  .prompt-button {
    font-size: 12px;
  }
}

/* -----------************---------for chat room  ---------************--------------*/

.chatbot-container-ch {
  font-family: "Roboto", sans-serif;

  @apply flex flex-col justify-evenly items-center bg-custom-chatroom p-[10px] h-[100vh] w-[100vw] text-white relative;
}

.chatbot-header-ch {
  @apply text-center absolute top-5;
}

.chatbot-title-ch {
  @apply text-[25px] uppercase tracking-[2px] shadow-[0_2px_4px_rgba(0,0,0,0.2)] m-0 p-[5px] rounded-[10px];
  background: linear-gradient(120deg, #3b97e1, #2980b9);
  animation: pulse 1.5s infinite alternate;
}

.chatbot-title-ch span {
  color: #ffcc00;
}
.chatbot-content-ch {
  @apply text-center w-full h-3/4;
}
.message-con {
  @apply h-[65vh] overflow-y-auto w-full flex flex-col p-[5px];
}
#user-input-container-ch {
  @apply w-full flex items-center absolute bottom-[30px];
}
#user-input-ch {
  @apply w-[85%] text-base text-[#34495e] ml-5 mr-2.5 p-[15px] rounded-[20px] border-[none];
}
#clear-button {
  @apply ml-5;
}
.message {
  @apply w-auto max-w-[50%] min-w-[100px] px-2.5 py-[5px] rounded-[15px];
}
.user {
  @apply self-end bg-[#2980b9] w-auto max-w-[85%] min-w-[5%] text-right mb-2.5 px-5 py-2.5 rounded-[10px];
}
.ai {
  @apply self-start text-left w-auto max-w-[85%] min-w-[5%] bg-[#34495e] mb-2.5 px-5 py-2.5 rounded-[10px];
}
#send-button-ch {
  @apply w-20 bg-[#3b97e1] text-white cursor-pointer text-base transition-[background-color] duration-[0.3s] p-[15px] rounded-[20px] border-[none] hover:bg-[#2980b9];
}
.prompt-buttons-ch {
  @apply flex flex-row flex-wrap gap-2.5 items-center justify-center w-full mt-[6.25rem];
}
.prompt-ch {
  @apply w-[400px] h-[100px];
  @apply flex flex-col items-center justify-center;
}
.prompt-button-ch {
  @apply text-[#2980b9] cursor-pointer text-base transition-all duration-[0.5s] ease-[ease] font-[bold] w-full h-full px-5 py-2.5 rounded-[15px] hover:bg-[#3b97e1] hover:text-white;
  background: rgba(43, 42, 55, 0.7);
  word-wrap: break-word;
}
.prompt-description-ch {
  @apply text-sm opacity-70 mt-[5px];
}
.goback {
  @apply absolute z-[9] left-[25px] top-[25px];
}

/*--------------------------------*** Animation for title*-----------------------*** */
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
@media only screen and (max-width: 770px) {
  .chatbot-container-ch {
    @apply overflow-hidden;
  }
  .chatbot-container {
    @apply py-[8%];
  }
  .chatbot-title-ch {
    @apply text-lg tracking-[1px] p-0.5 rounded-md;
  }
  .message-con {
    @apply h-[65vh];
  }
  .ai,
  .user,
  .message-text {
    @apply text-[12px];
  }
  #user-input-container-ch {
    @apply text-xs bottom-[8%];
  }
  #user-input-ch {
    @apply bg-[#b4bac1] h-10 w-[70%] ml-[5px] p-2;
  }
  #send-button-ch {
    @apply h-[35px] text-[10px] w-10 p-0 rounded-[10px];
  }
  .prompt-ch {
    @apply h-[70px] text-[8px];
    @apply w-full;
  }
  .prompt-description-ch {
    @apply text-xs mt-0;
  }
  .prompt-buttons-ch {
    @apply mt-[40%];
  }
  .trash:hover {
    @apply stroke-current;
  }
  .prompt-button-ch {
    @apply text-[16px];
  }
}
@media only screen and (max-width: 375px) {
  .prompt-buttons-ch {
    @apply mt-[20%];
  }
  .prompt-button-ch {
    @apply text-[12px];
  }
  .prompt-description-ch {
    @apply text-[10px] mt-0;
  }
}
